html{
    font-size: 16px;
}
body{
    font-family: $body-font;
    font-size: 1rem;
    line-height: 1.5;
    color: #222;
}
h1,h2,h3,h4,h5,h6{
    font-family: $header-font;
}
ul,ol{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}