.breadcrumbs-wrap {
	padding: 8px 0;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			&.crumb {
				padding: 0 1em;
			}
			a{
				color: #fff;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
