.primary-btn{
    color: #ffffff;
    background-color: $secondary;
    border-color: $secondary-light;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    &:hover{
        background-color: $secondary-light;
        color: #fff;
    }
}
.primary-heading{
    h1{
        color: $primary;
        position: relative;
        font-weight: 400;
        &:after{
            width: 100px;
            height: 2px;
            position: absolute;
            content: ' ';
            bottom: -15px;
            left: 50%;
            border: 1px solid $secondary;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
            transform: translateX(-50%);
        }
    }
}
.before-after-heading-title{
    position: relative;
    &:before{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #e6e6e6;
    }
    &:after{
        content: "";
        display: block;
        position: relative;
        z-index: 10;
        width: 80px;
        height: 1px;
        margin: 20px 0 0;
        background: $secondary;
    }
    h4{
        color: #354b5e;
        font-size: 24px;
        font-weight: 400;
    }
}
.email-subcribe-form{
    input#email {
        border: 1px solid #ddd;
        border-radius: 0;
        text-align: left;
        font-size: 1rem;
        margin-right: 4px;
        width: 75%;
        display: inline-block;
        @media(max-width: 550px){
            width: 100%;
        }
    }
    button.btn.submit.btn-lg {
        border-radius: 0;
        font-size: 1.2rem;
        text-transform: uppercase;
        width: 24%;
        background: #0a4b92;
        color: #fff;
        @media(max-width: 550px){
            width: 100%;
            margin-top: 10px;
        }
    }

}
.gaqsinc-btn-primary{
    background: $primary;
    color: #fff;
    &:hover{
        background: $primary-dark;
    }
}
.gaqsinc-btn-secondary{
    background: $secondary;
    color: #fff;
    &:hover{
        background: $secondary-light;
    }
}
.gaqsinc-primary-text{
    color: $primary;
}
.gaqsinc-secondary-text{
    color: $secondary;
}
.gaqsinc-secondary-light-text{
    color: $secondary-light;
}