.contact{
  .ugb-container__wrapper{
    .ugb-container__content-wrapper{
      .wp-block-columns{
        .wp-block-column{
          margin-bottom: 0;
        }
      }
    }
  }
  form.wpforms-form{
    input,textarea{
      border: none !important;
    }
    textarea{
      max-height: 120px;
    }
    .wpforms-field-container{
      .wpforms-field{
        & + .wpforms-field{
          margin-top: 8px;
        }
      }
    }
    .wpforms-submit-container{
      button.wpforms-submit{
        text-align: center;
        border-radius: 30px;
        border: none;
        padding: 10px 35px !important;
        color: #fff;
        background: $primary;
        &:hover{
          background: $primary-dark;
        }
      }
    }
  }
  & ~ p {
    display: none;
  }
}
