footer.site-footer{

    .top-footer{
        background: #9b8a41;
        position: relative;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        min-height: 300px;
        .widget-title{
            margin: 0 0 15px;
            color: #fff;
        }
        .textwidget{
            p{
                color: #fff;
                margin: 0;
            }
        }
        &.layout-2{
            div.wpforms-container.newsletter-form form .wpforms-submit-container button[type=submit]{
                width: 145px;
            }
        }
        &.layout-3{
            div.wpforms-container.newsletter-form form{
                position: relative;
                max-width: 750px;
                margin: 0 auto;
                display: block;
                .wpforms-field-container .wpforms-field input[type=email]{
                    width: 750px;
                    padding-right: 150px;
                }
                .wpforms-submit-container{
                    position: absolute;
                    right: 5px;
                    width: 135px;
                    padding: 0;
                    top: 15px;
                    z-index: 9;
                }
            }

        }
        &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-image: url(http://test-gellerman.pantheonsite.io/wp-content/uploads/2019/07/jj-ying-7JX0-bfiuxQ-unsplash.jpg);
                opacity: 0.2;
                background-size: cover;
                background-position: center;
                z-index: 1;

        }
    }
    .main-footer{
        background: #af9e50;
        padding-top:50px;
        padding-bottom: 50px;
        .widget{
            .widget-title{
                color: #fff;
                font-size: 24px;
                margin-bottom: 25px;
                @media(max-width: 767px) {
                    margin-bottom: 10px;
                }
            }
        }
        .logo-wrap{
            img{
                margin-bottom: 25px;
                width: 205px;
                max-width: 205px;

            }
        }
        .tabby-social-links {
            li+li {
                margin-left: 0;
            }
        }

        @media(max-width: 767px) {
            text-align: center;
            .container .row .col-12:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
    .sub-footer{
        background: #9b8a41;
        text-align: center;
        .container{
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .widget,p{
            margin: 0;
        }
        p{
            color: #8c8f9e;
        }
    }
    ul.menu{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            display: block;
            color: #fff;
            a{
                color: #fff;
                &:hover{
                    color: #fff;
                }
            }
            &+li{
                margin-top: 7px;
            }
        }
    }
    p{
        margin-bottom: 10px;
        color: #666;
    }
    .footer-col-1{

    }
}



footer.site-footer p {
    margin-bottom: 10px;
    color: #fff;
}
footer.site-footer .textwidget p a {
    color: #fff;
}
footer.site-footer .sub-footer p {
    color: #efefef;
}
footer.site-footer .textwidget p a {
    color: #fff;
}