section.hero{
    .slick-dotted.slick-slider{
        margin-bottom: 0;
    }
    .slider {
        .slick-slide {
            border: 0;
            z-index: 1;
            height: 550px;
            min-height: 550px;
            position: relative;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            display: flex;
            align-items: center;

            &:before {
                top: 0;
                left: 0;
                z-index: -1;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
            }

            h1 {
                font-size: 48px;
                font-weight: 600;
                color: $primary;
            }

            p {
                margin: 0 0 15px;
            }

            &.text-left {

                &:before {
                    background: linear-gradient(to left, rgba(#F9F5F5, 0) 20%, rgba(#FAFAFA, 1));
                }
            }
            &.text-right {

                &:before {
                    background: linear-gradient(to right, rgba(#F9F5F5, 0) 20%, rgba(#FAFAFA, 1));
                }
            }
        }
    }
    .slick-dots {
        text-align: left;
        top: calc(50% - 15px);

        li {
            width: 5px;
            height: 30px;
            display: block;
            margin: 0 0 5px;
            background: $primary-dark;
            transition: all 0.5s ease;

            &.slick-active {
                width: 15px;
            }

            button {
                display: none;
            }
        }
    }

}

section#client{
    background: #f7f8f9 ;
    position: relative;

    &:before{
        position: absolute;
        left: calc(50% - 32.5px);
        width: 75px;
        height: 75px;
        background: #f7f8f9 ;
        top: -38px;
        transform: rotate(45deg);
        webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        font-weight: 900;
        content: "";
    }
    &:after {
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: -9px;
        content: "\f063";
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        color: $primary-dark;
        font-size: 28px;
    }
    h1.client-logo-title{
       font-size: 30px;
        color: $primary;
        margin: 20px 0;
        line-height: 49px;
    }
    .client-logo-wrap{
        display: flex;
        justify-content: space-around;
        .client-logo{
            img{
                max-width: 100%;
                padding: 15px 20px;
            }
        }
    }
}

section.about-us{
    .about-thumb{
        img{
        }
    }
    .about-info{
        span{
            font-weight: bold;
            position: relative;
            &:before{
                position: absolute;
                content: "";
                left: 0;
                top: -10px;
                width: 100px;
                height: 2px;
                background: $primary;
            }
        }
        h1{
            font-size: 52px;
        }
        p{

        }
        a{

        }
    }
}
section.how-it-work{
    background: #e0e0e0;
    .section-heading{
        h1{
            color: #000;
        }
    }
    .work-process-item{
        background: #eaeaea;
        padding: 20px 35px;
        span{
            color: #888888;
            font-size: 24px;
        }
        h3{
            margin-top: 20px;
            a{
                color: #090c1b;
                font-size: 34px;
                font-weight: 400;
                line-height: 44px;
            }
        }
        img{
            max-width: 52px;
        }
        span.border-section{
            width: 80%;
            height: 7px;
            background: #fff;
            display: block;
            margin: 10px auto;
        }
        &.active{
            background: #f5f5f5;
        }
    }
}

section.features{
    .row{
        overflow: hidden;
        padding: 0;
        margin: 0;
        .col-md-6.col-12 {
            padding: 0;
            .feature-info {
                padding: 30px 40px;
            }
        }
    }
}

//$padding-base: 15px;
//$color-body: #fff;
//$color-border: #ddd;
//$color-link: #0275d8;
//$border-radius: .25rem;

//.nav-tabs {
//    &--vertical {
//        border-bottom: none;
//        border-right: 1px solid $color-border;
//        display: flex;
//        flex-flow: column nowrap;
//    }
//
//    &--left {
//        margin: 0 $padding-base;
//
//        .nav-item + .nav-item {
//            margin-top: .25rem;
//        }
//
//        .nav-link {
//            transition: border-color .125s ease-in;
//            white-space: nowrap;
//
//            &:hover {
//                background-color: lighten($color-border, 10%);
//                border-color: transparent;
//            }
//        }
//
//        .nav-link.active {
//            border-bottom-color: $color-border;
//            border-right-color: $color-body;
//            border-bottom-left-radius: $border-radius;
//            border-top-right-radius: 0;
//            margin-right: -1px;
//
//            &:hover {
//                background-color: $color-body;
//                border-color: $color-link $color-body $color-link $color-link;
//            }
//        }
//    }
//}

section#resource{
    background: #fdfdfd;
    .hometab{
        background: #fff;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
        ul.hometab-navigation{
            display: inline-block;
            width: 100px;
            li{
                width: 100px;
                border-bottom: 1px solid #0a4b92;
                background: #007BFF;
                padding: 0 0 !important;
                a{
                    padding: 20px 10px;
                    border-radius: 0;
                    text-align: center;
                    font-size: .9rem;
                    color: #fff;
                    display: block;
                    opacity: .7;
                   img{
                       display: block;
                   }
                    &.active{
                        background: #0a4b92;
                        padding: 20px 10px;
                        position: relative;
                        &:after{
                            position: absolute;
                            right: -5px;
                            top: calc(50% - 7px);
                            width: 14px;
                            height: 14px;
                            background: #0a4b92;
                            content: "";
                            transform: rotate(45deg);

                        }
                    }
                }
                &:last-child{
                    border-bottom: 0;
                }
            }
        }
        .home-tab-content{
            margin: 20px 30px;
            .resource-item {
                color: #676767;
                i{
                    font-size: 24px;
                }
                h4{
                    font-size: 20px;
                    font-family: open sans-serif;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}
section#about-us{
    background-repeat: no-repeat !important;
    width: 100%;
    min-height: 450px;
    background-size: cover !important;
    position: relative;
    overflow: hidden;
    .about-content{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: $primary;
        content: "";
        width: 100%;
        min-height: 450px;
        z-index: 99;
        color: #fff;
        padding: 50px 40px;
        h1{
            text-transform: uppercase;
        }
        &:after {
            position: absolute;
            right: -40px;
            top: 0;
            content: "";
            width: 80px;
            height: 460px;
            background: $primary;
            transform: rotate(-10deg);
        }
        &:before{
            position: absolute;
            content: "";
            left: -9000px;
            background: #af9e50;
            top: 0;
            width: 9000px;
            height: 100%;
        }
        @media(max-width: 575px){
         text-align: center;
        }
        .client-testimonials{
            margin: 20px 25px 0;
            padding: 10px 30px;
            button.slick-prev.slick-arrow, button.slick-next.slick-arrow{
                z-index: 99;
                border: 1px solid #ddd;
                padding: 3px 0;
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 50px;
                line-height: 18px;
            }
        }
    }
}
section#meet-team-member{
    width: 100%;
    height: 100%;
    border-top: 1px solid #f5f5f5;
    position: relative;
    &:before{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: #fff;
        opacity: .68;
        content: '';
    }
}
section#cta{
    .cta-option{
        background: #ffffff;
        padding: 20px 60px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.1);
        @media(max-width: 575px){
            padding: 20px;
        }
        @media (max-width: 768px) {
            .email-subcribe-form{
                input#email{
                    width: 100%;
                    margin-bottom: 10px;
                }
                button.btn.submit{
                    width: 100%;
                }
            }
        }

    }
}

section.team-member{
    background: #f9f9f9;
    .members{
        .member-single{
            background: #fff;
            overflow: hidden;
            border: 1px solid #f0f0f0;
            margin: 20px 25px;
            &:focus{
                outline: none;
            }
            img{
                width: 100%;
            }
            h4{
                color: $secondary-light;
            }
            span{
                font-weight: 600;
            }
            ul.member-social-meida {
                margin: 20px;
                 li{
                     & + li{
                         margin-left: 14px;
                     }
                     a {
                         background: #ece9e4;
                         width: 55px;
                         height: 55px;
                         display: block;
                         text-align: center;
                         line-height: 59px;
                         border-radius: 50%;
                         i{
                             color: #7a7f82;
                             font-size: 22px;
                         }
                         &:hover{
                             color: inherit;
                             i{
                                 color: $primary-dark;
                             }
                         }
                     }
                 }
            }
        }
    }
}
section.register-section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    height: 800px;
    .register-info{
        span{
            font-size: 20px;
        }
        h1{
            font-size: 60px;
            font-weight: bold;
            span{
                font-size: inherit;
                font-weight: 400;
            }
        }
    }
    .register-form{
        .form-group{
            margin-bottom: 25px;
            select#select-business {
                height: 60px;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 600;
            }
            .form-control{
                height: 60px;
                padding: 15px;
            }
            input[type="text"], input[type="email"]{
                @include placeholder{
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
            input[type="submit"] {
                background: $primary;
                border: none;
                color: #fff;
                display: block;
                width: 100%;
                padding: 15px;
                font-size: 16px;
                text-transform: uppercase;
                height: 60px;
                &:hover{
                    background: $primary-dark;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
}

