#default-banner{
  background: $primary;
  .default-banner{
    font-size: 32px;
    color: #fff;
    font-family: $header-font;
    font-weight: 400;
  }



}
#features-benefits{
  .features-benefits-content {
    padding: 0 10px;
    margin-bottom: 30px;
    padding-left: 60px;
    h3 {
      font-size: 18px;
      font-family: $header-font;
      color: #333;
      font-weight: 400;
    }
    p {
      font-size: 13px;
      color: #777;
      line-height: 22px;
    }
    ul {
      margin-left: 30px;
      li {
        font-size: 13px;
        list-style: none;
        font-family: $body-font;
        i {
          font-size: 10px;
          margin-right: 5px;
        }

      }
    }
  }
}

#pricing{
  .pricing-heading{
    position: relative;
    h1{
      color: $primary;
      font-weight: 400;
      font-family: $header-font;
      font-size: 36px;
    }
    h4{
      font-family: $body-font;
      color: #888;
      font-size: 19px;
      font-weight: 300;
    }
    &:after{
      width: 100px;
      height: 2px;
      position: absolute;
      content: ' ';
      bottom: -50px;
      left: 50%;
      border: 1px solid $secondary;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      transform: translateX(-50%);
    }
  }
  .pricing-plan{
    border-radius: 4px;
    border: 1px solid #dddddd;
    padding-bottom: 25px;
    margin-bottom: 20px;
    .plan-header{
      background-color: #344a5c;
      padding: 15px;
      h3{
        color: #fff;
        font-family: $header-font;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 21px;
      }
      p{
        margin-bottom: 0;
        font-size: 13px;
        color: #87a3bc;
        font-family: $body-font;

      }
    }
    .price{
      color: #555555;
      background-color: #f9f9f9;
      border-bottom: 1px solid #dddddd;
      padding: 10px;
      h4{
        color: #46a546;
        font-size: 32px;
        font-weight: 400;
        font-family: $body-font;
        span{
          font-size: 13px;
          color: #555555;
        }
      }
    }
    ul.pricing-plan-details{
      margin: 0 20px 25px;
      li{
        font-size: 13px;
        list-style: none;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        border-bottom: 1px solid #e8e8e8;
        display: block;
      }
    }
    a{
      &.primary-btn{
        background: $secondary !important;
        &:hover{
          background: $secondary-light !important;
        }
      }
    }
  }
}
#all-plan{
  .all-plan-item{
    ul{
      li{
        font-size: 13px;
        list-style: none;
        margin-bottom: 13px;
        &:before{
          content: "\f14a";
          margin-right: 10px;
          font-family: Font Awesome\ 5 Free;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
  }
}

#contact{
  .contact-form{
    .form{
      .form-group{
        .primary-btn{
          padding: 7px 12px;
          font-size: 14px;
          color: #fff;
        }
      }
    }
  }
  .contact-content{
    padding-right: 15px;
    padding-left: 30px;
    border-left: 1px solid #ccc;
    box-shadow: inset 8px 0px 15px -10px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
  }
}