.member-registration{
  .register{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    background: #fff;
    &:after{
      z-index: -1;
      content: ' ';
      line-height: 0;
      position: absolute;
      bottom: -21px;
      left: 0;
      right: 0;
      background-color: $primary-dark;
      height: 218px;
      margin: 0 auto;
    }

    .register-heading{
      padding: 40px 30px;
      h3{
        color: #af9e50;
        font-weight: 600;
        border-left: 4px solid #af9e50;
        padding: 13px 13px;
        background-color: #fff;
        box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
        font-size: 26px;
        text-align: left;
      }
    }
    .register-form{
      padding: 10px 30px;
      position: relative;
      z-index: 9;
      .register-error{
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        p{
          font-size: 22px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .register-success{
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        p{
          font-size: 22px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      form.member-register{
        //.register-form{
          .form-group{
            margin-bottom: 25px;
            select#select-business {
              height: 60px;
              font-size: 18px;
              text-transform: uppercase;
              font-weight: 600;
            }
            .form-control{
              height: 60px;
              padding: 15px;
            }
            input[type="text"], input[type="email"]{
              @include placeholder{
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 600;
              }
            }
            input[type="submit"] {
              background: $primary;
              border: none;
              color: #fff;
              display: block;
              width: 100%;
              padding: 15px;
              font-size: 16px;
              text-transform: uppercase;
              height: 60px;
              &:hover{
                background: $primary-dark;
              }
              &:focus{
                outline: none;
              }
            }
          }
       // }
      }
      .upload-photo {
        clear: both;
        margin-top: 20px;
        margin-bottom: 20px;
        button.uploadPhoto.button {
          background: #161f37;
          border: none;
          cursor: pointer;
          color: #fff;
          padding: 8px 20px;
          font-size: 14px;
        }
      }
    }
  }
}


/** Reset Password Page **/
form.update-user-password {
  position: relative;
  &:after{
    max-width: 575px;
    z-index: -1;
    content: ' ';
    line-height: 0;
    position: absolute;
    bottom: -21px;
    left: 0;
    right: 0;
    background-color: $primary;
    height: 225px;
    margin: 0 auto;
  }
  .form-label {
    border-left: 4px solid $primary;
    padding: 13px 13px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
    font-size: 14px;
  }
  .update-pass {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    p{
      font-size: 14px;
      line-height: 1.4;
    }
    #showPassword{
      color: $primary_light;
    }
    #hiddenPassword{
      display: none;
      color: $primary;
    }
    i{
      position: absolute;
      margin-top: -25px;
      right: 70px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

/** User Login **/
form.user-login{
  position: relative;
  &:after{
    max-width: 575px;
    z-index: -1;
    content: ' ';
    line-height: 0;
    position: absolute;
    bottom: -21px;
    left: 0;
    right: 0;
    background-color: $primary;
    height: 225px;
    margin: 0 auto;
  }
  .form-label {
    border-left: 4px solid $primary;
    padding: 13px 13px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
    font-size: 14px;
  }
  .update-pass {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    p{
      font-size: 14px;
      line-height: 1.4;
    }
    #showPassword{
      color: $primary_light;
    }
    #hiddenPassword{
      display: none;
      color: $primary;
    }
    i{
      position: absolute;
      margin-top: -25px;
      right: 70px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

/** Ajax status **/
.profile-content{
  position: relative;
  overflow: hidden;
  .status-success{
    p.alert.alert-success{
      //position: absolute;
      //z-index: 999;
      //width: 89%;
      //min-height: 95%;
      //height: 90%;
      //text-align: center;
      //font-size: 40px;
      //line-height: 100vh;

      text-align: center;
      font-size: 25px;
      line-height: 35px;

    }
  }
}

.status-error{
  //position: absolute;
  //z-index: 999;
  //width: 100%;
  //min-height: 100%;
  //p.alert.alert-danger {
  //  height: 100%;
  //  position: absolute;
  //  width: 100%;
  //  text-align: center;
  //  font-size: 40px;
  //  line-height: 100vh;
  //}
}









