section.package-list{
  background: #f8f8f8;
  //.package-item {
    // Tables
    .card {
      border: 0;
      border-radius: 0px;
      -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
      box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
      transition: all .3s ease-in-out;
      padding: 2.25rem 0;
      position: relative;
      will-change: transform;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 5px;
        background-color: $primary;
        transition: 0.5s;
      }

      &:hover {
        transform: scale(1.05);
        -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
        box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);

        &:after {
          width: 100%;
        }

      }
      & .card-header {
        background-color: white;
        padding-left: 2rem;
        border-bottom: 0px;
      }
      & .card-title {
        margin-bottom: 1rem;
      }
      & .card-block {
        padding-top: 0;
      }
      & .list-group-item {
        border: 0px;
        padding: .25rem;
        color: #ddd;
        font-weight: 400;
      }
    }

    // Price
    .display-2 {
      font-size: 60px;
      & .currency {
        font-size: 2.75rem;
        position: relative;
        top: -20px;
        letter-spacing: 0;
      }
      & .period {
        font-size: 1rem;
        color: lighten($primary, 20%);
        letter-spacing: 0px;
      }
    }

    // Buttons
    .btn {
      text-transform: uppercase;
      font-size: .75rem;
      color: lighten($primary, 15%);
      border-radius: 0;
      padding: .75rem 1.25rem;
      letter-spacing: 1px;
    }

    .btn-gradient {
      background-color: #f2f2f2;
      transition: background .3s ease-in-out;

      &:hover {
        color: white;
        background-color: $primary-dark;
      }
    }

  //}
}