/* Fonts */
$header-font: 'Oswald', sans-serif;
$body-font: 'Open Sans', sans-serif;

/* Colors */
$primary: #af9e50;
$primary-light: #c4b261;
$primary-dark: #9b8a41;
$secondary : #7b7a7a;
$secondary-light: #42464e;


/* Social icons color */
$facebook: #395a9a;
$twitter: #00c2f7;
$google: #ea4335;
$pinterest: #bd081c;
$linkedin: #007bb5;
$youtube: #fe0002;