div.wpforms-container{
  &.newsletter-form{
    margin-bottom: 0;
    form{
      .wpforms-head-container{
        padding-bottom: 10px;
      }
      .wpforms-field-container{
        .wpforms-field{
          input[type='email']{
            font-size: 16px;
            height: 60px;
            border-radius: 30px;
            width: 570px;
            max-width: 100%;
            border: 0;
            padding: 10px 25px;
            color: #fff;
            margin: 0 auto;
            display: block;
            background: #94853f;
            position: relative;
            z-index: 1;
            @include placeholder{
              color: #fff;
              opacity: 0.8;
            }
          }
        }
      }
      .wpforms-submit-container{
        button[type="submit"]{
          height: 50px;
          border-radius: 30px;
          width: 570px;
          max-width: 100%;
          background-color: #fff;
          border: 0;
          box-shadow: none;
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          color: #222222;
        }
      }
    }
  }
}

