@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}
@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}
@mixin transform($value){
    -ms-transform: $value;
    -webkit-transform: $value;
    transform: $value;
}
@mixin animation($value){
    -moz-animation: $value;
    -webkit-animation: $value;
    -o-animation:$value;
    animation:$value;
}
@mixin animation-fill($value){
    -moz-animation-fill-mode: $value;
    -webkit-animation-fill-mode: $value;
    -o-animation-fill-mode:$value;
    animation-fill-mode:$value;
}
@mixin shadow($value){
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}
@mixin keyframes($name){
    @-webkit-keyframes #{$name}{
        @content
    }
    @-moz-keyframes #{$name}{
        @content
    }
    @-o-keyframes #{$name}{
        @content
    }
    @keyframes #{$name}{
        @content
    }
}