form.member-register span.file-upload{
	position: relative;
	overflow: hidden
}

form.member-register span.file-upload input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: 0;
	background: #fff;
	cursor: inherit;
	display: block
}

.event-register{
	background: #f8f8f8;
	position: relative;
}
.event-register:after{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 700px;
	background-position: center;
	background-size: cover !important;
	opacity: 0.06;
	height: 700px;
	content: "";
	margin-top: -350px;
	margin-left: -350px;
}
@media(max-width: 991px){
	.event-register:after{
		width: 600px;
		height: 600px;
		margin-top: -300px;
		margin-left: -300px;
	}
}
@media(max-width: 767px){
	.event-register:after{
		display: none;
	}
}
.register-form{
	padding: 10px 30px;
	position: relative;
	z-index: 9;
}

.event-register-heading h3 {
	color: #000;
	font-weight: 600;
	font-size: 28px;
	border-bottom: 2px solid;
	padding-bottom: 20px;
}


.register-form form.event-member-register .er-field-wrap .form-control {
	padding: 0 .75rem;
	color: #495057;
	background-color: transparent;
	background-clip: padding-box;
	border-bottom: 1px solid #939393;
	border-top: 0;
	border-left: 0;
	border-radius: 0;
	border-right: 0;
}
.register-form form.event-member-register .er-field-wrap .form-control:focus {
	box-shadow: 0 0 0 0.2rem transparent;
	outline: none;
}
.register-form form.event-member-register .er-field-wrap label {
	margin-bottom: 0;
	color: #000;
}
.register-form form.event-member-register .upload-photo {
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
}
.register-form form.event-member-register .upload-photo span.file-upload {
	background: #161f37;
	padding: 7px 15px;
	color: #fff;
	margin-top: 20px !important;
}


.register-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}
.register-success p{
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.register-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}
.register-error p{
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
}
